@model University.Models.Teacher

@{
    ViewBag.Title = "Админ панель: редактирование преподавателя";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование преподавателя «@Model.LastName @Model.FirstName @Model.MiddleName»</h3>
    </div>

    @using (Html.BeginForm("Edit", "AdminTeachers"))
    {
        <div class="panel-body">
            @Html.HiddenFor(p => p.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id" && property.PropertyName != "StaffingStructures" && property.PropertyName != "User" && property.PropertyName != "UserId")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>