@model IEnumerable<University.Models.Specialty>

@{
    ViewBag.Title = "Админ панель: список специальностей";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список специальностей</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Название</th>
                <th class="text-center">Кафедра</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td class="text-center">@Html.ActionLink(item.Title, "Edit", new { item.Id })</td>
                    <td class="text-center">@item.Department.Title</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "AdminSpecialties"))
                        {
                            @Html.Hidden("SpecialtyId", item.Id)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить специальность", "Create", null,
            new { @class = "btn btn-default" })
    </div>
    <div>
        <br>@Html.RouteLink("К списку преподавателей", new { controller = "AdminTeachers", action = "Index" })
        <br>@Html.RouteLink("К списку кафедр", new { controller = "AdminDepartments", action = "Index" })
        <br>@Html.RouteLink("К штатному расписанию", new { controller = "AdminStaffingStructures", action = "Index" })
        <br>@Html.RouteLink("К списку групп", new { controller = "AdminGroups", action = "Index" })
        <br>@Html.RouteLink("На главную", new { controller = "Home", action = "Index" })
    </div>
</div>

